@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

/* Scrollbar thumb (darker green) */
::-webkit-scrollbar-thumb {
  background-color: #4CAF50; /* green */
  border-radius: 4px;
}

/* Scrollbar track (lighter green) */
::-webkit-scrollbar-track {
  background-color: #C8E6C9; /* light green */
  border-radius: 4px;
}

